# sbt
# (may want to keep parts of 'project')
bin/
project/*
!project/build.properties
target/
build/

# eclipse
build
.classpath
.project
.settings
.worksheet

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

#metals
.metals/
.bloop/

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.class
